<div class="cards">

    <div class="card">
        <div class="card__logo-block">
            <svg>
                <use xlink:href="images/sprite/sprite.svg#features--cart"></use>
            </svg>
        </div>
        <div class="card__desc">
            <p class="card__heading">Lorem ipsum dolor sit</p>
            <p class="card__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__logo-block">
            <svg>
                <use xlink:href="images/sprite/sprite.svg#features--plane"></use>
            </svg>
        </div>
        <div class="card__desc">
            <p class="card__heading">Ametconsectetur</p>
            <p class="card__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__logo-block">
            <svg>
                <use xlink:href="images/sprite/sprite.svg#features--arrows"></use>
            </svg>
        </div>
        <div class="card__desc">
            <p class="card__heading">Lorem ipsum dolor sit</p>
            <p class="card__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card__logo-block">
            <svg>
                <use xlink:href="images/sprite/sprite.svg#features--browser"></use>
            </svg>
        </div>
        <div class="card__desc">
            <p class="card__heading">Lorem ipsum dolor sit</p>
            <p class="card__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>
        </div>
    </div>

</div>