<form action="javascript:" class="form">

    <div class="form__field-block">
        <select name="design">
            <option value="" disabled selected>Design Style</option>
            <option value="1">Design 1</option>
            <option value="2">Design 2</option>
            <option value="3">Design 3</option>
        </select>
        <svg>
            <use xlink:href="images/sprite/sprite.svg#arrows--arrow-circle-thin"></use>
        </svg>
    </div>

    <div class="form__field-block">
        <input type="email" placeholder="Email">
        <svg>
            <use xlink:href="images/sprite/sprite.svg#arrows--arrow"></use>
        </svg>
    </div>

    <button type="submit" class="form__submit-btn">
        <svg>
            <use xlink:href="images/sprite/sprite.svg#arrows--arrow-circle-thick"></use>
        </svg>
    </button>

</form>
