<section id="@@sectionName" class="secondary-section @@sectionName">

    <div class="section__toggler">
        <div class="toggler__half toggler__half_top"></div>
        <svg class="toggler__logo">
            <use xlink:href="images/sprite/sprite.svg#arrows--arrow-circle-thin"></use>
        </svg>
        <div class="toggler__half toggler__half_bottom"></div>
    </div>

    <div class="wrapper">

        <div class="secondary__info">
            <div class="secondary__topic">
                <h2 class="secondary__heading">@@sectionHeading</h2>
                <p class="secondary__text">@@sectionText</p>
            </div>
            <div class="secondary__content">
                @@sectionContent
            </div>
        </div>

    </div>

</section>
